// White label brand colors.
$color-primary: #000;
$color-secondary: #888;
$color-cta: #f48e1e;
$color-white: #FFF;

// Element colors.
$page-background: $color-white;
$page-color: #333;
$page-link-color: $color-primary;
$color-border: #bbb;
$color-text-on-dark: $color-white;
$color-light-text: #f7f7f7;
$color-cta: $color-primary;
$color-footer-background: #ebebeb;
$color-footer-text: $color-secondary;
// Navigation
$color-menu-side-link: $color-primary;
$color-menu-side-border: $color-border;
$image-menu-mobile: "../../images/icons/fff/menu.svg";
$image-close: "../../images/icons/fff/cross.svg";
$image-breadcrumb: "../../images/icons/666/chevron-right.svg";
$image-select: "../../images/icons/666/chevron-down.svg";
// Hero box
$box-hero-background: $color-primary;
$box-hero-color: $color-text-on-dark;
// Content box
$box-title-color: $color-primary;

// Buttons
$color-button-background: $color-white;
$color-button-text: $color-secondary;
$color-button-border: $color-secondary;
$color-button-image: "../../images/icons/888/chevron-circle-right.svg";
// Action link
$image-arrow-right-white: "../../images/icons/fff/arrow-right.svg";
$image-arrow-right-primary: "../../images/icons/888/arrow-right.svg";

$color-button--primary-background: $color-secondary;
$color-button--primary-text: $color-white;
$color-button--primary-border: $color-secondary;
$color-button--primary-image: "../../images/icons/fff/chevron-circle-right.svg";

// Font families
$font-a: "Helvetica Neue", Helvetica, Arial, sans-serif;
$font-b: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, "Verdana Ref", sans-serif;

$font-menu-item: $font-a;
