.node--unpublished {
    background-color: transparent;
}

.node__submitted {
  font-size: 12px;
  color: #666;
  margin-bottom: 20px;
}

.block-system-breadcrumb-block {
  float: left;
}
.block-system-main-block {
  clear: both;
}
